# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\antoi\Documents\EtudePerso\2020-2021_L2_Info\Semestre4\Framework_web\Projet\recettecuisinemaison\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
